<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.RD_AAOW.TextToKKT"
	android:installLocation="internalOnly" android:versionCode="601625" android:versionName="7.0">

	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application android:label="KassArray" android:icon="@drawable/icon"
		android:windowOptOutEdgeToEdgeEnforcement="true"/>

	<queries>
		<intent>
			<action android:name="android.intent.action.SENDTO" />
			<data android:scheme="mailto" />
		</intent>
	</queries>
</manifest>
